# Generated deployment files 
deployment/mutatingwebhook-ca-bundle.yaml

# Compiled binaries
/relations-mutating-webhook
/relations-controller
/debug
/bin


# Logs
telepresence.log

# Dependencies
/vendor
